#reviews-container {
	display: grid;
	margin: 5% 15%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

#reviews-container div {
	background-color: #ffffff;
	padding: 15px;
	margin-bottom: 2.5%;
	border-radius: 5px;
	position: relative;
}

.review-detail {
	padding: 15px;
	top: 10%;
	border-radius: 5px;
	position: relative;
}

#reviews-container span.material-symbols-outlined {
	position: absolute;
	top: 40%;
	right: 5%;
	cursor: pointer;
	font-size: 24px;
}

#reviews-container h3 {
	margin: 0;
	color: #333;
}

#reviews-container small {
	color: #666;
}

/*---------------------------------*/

#detail-section {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 10% 20%;
}

.detail-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
}

.detail-info {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
}

#detail-content {
	margin-top: 20px;
}

.detail-footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.material-symbols-outlined {
	cursor: pointer;
}

/*---------------------------------*/

#menu-icon {
	display: none;
}

.for_mobile {
	display: none;
}

/* 반응형 웹 */
@media screen and (max-width: 1280px) {
	#reviews-container {
		grid-template-columns: 1fr 1fr;
	}
}

/* 반응형 웹 */
@media screen and (max-width: 768px) {
	#reviews-container {
		grid-template-columns: 1fr;
	}
}
