/*---------------------------------*/

#Account_Section h2,
#Account_Section h3 {
	color: #333;
	font-weight: normal;
	margin-bottom: 15px;
}

#Account_Section div {
	margin-bottom: 20px;
}

#Account_Section p {
	font-size: 1rem;
}

/*---------------------------------*/

.error-message {
	display: none; /* 기본적으로 숨김 */
	color: red;
}

.input-group {
	position: relative;
}

.input-group .error-message {
	position: absolute;
	right: -20px;
	top: 5px;
}

form {
	margin-top: 10px;
}

form input[type="password"],
form button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

form button {
	background-color: #4c66af;
	color: white;
	border: none;
	cursor: pointer;
}

form button:hover {
	background-color: #4554a0;
}

/*---------------------------------*/

button {
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	background-color: #4c66af;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #4554a0;
}

/* 반응형 웹 */
@media screen and (max-width: 768px) {
}
