#Book_Search {
	background: #fff;
	padding: 50px;
	margin: 50px -50px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#book-search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

#book-search-button {
	width: 100%;
	padding: 10px;
	background-color: #4c66af;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#book-search-button:hover {
	background-color: #4554a0;
}

/*---------------------------------*/

#book-search-results div {
	background: white;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#book-search-results div:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#book-search-results img {
	float: none;
	margin-right: 10px;
	max-width: 80px;
	max-height: 120px;
	object-fit: contain;
}

#authors {
	color: #878787;
}

#book-search-results p {
	margin: 0;
	overflow: hidden;
}

/*---------------------------------*/

#emoji-container {
	text-align: center;
	margin: 5%;
}

.emoji {
	font-size: 2em;
	cursor: pointer;
	margin-left: 2.5%;
	margin-right: 2.5%;
	transition: filter 0.3s ease-in-out;
	filter: grayscale(100%);
}

.emoji:hover {
	filter: grayscale(50%);
}

.emoji.active {
	filter: grayscale(0);
}

/*---------------------------------*/

#Write_Record {
	background: #fff;
	padding: 50px;
	margin: 50px -50px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

form textarea {
	height: 150px;
	resize: vertical;
}

form button {
	background-color: #4c66af;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

form button:hover {
	background-color: #4554a0;
}

/* 반응형 웹 */
@media screen and (max-width: 768px) {
	#Book_Search,
	#Write_Record {
		padding: 20px;
		margin: 20px -20px;
	}

	form input[type="text"],
	form textarea,
	form button {
		width: 100%;
		padding: 8px;
	}

	.emoji {
		font-size: 1.5em;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}
